<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<beans>
		<bean id="employee"
			class="com.ssk.child.sblc_with_xml_config_demo.beans.Employee">
			<constructor-arg value="1"></constructor-arg>
			<constructor-arg value="Sagar Khati"></constructor-arg>
			<constructor-arg value="Male"></constructor-arg>
			<constructor-arg>
				<ref bean="address"></ref>
			</constructor-arg>
		</bean>

		<bean id="address"
			class="com.ssk.child.sblc_with_xml_config_demo.beans.Address">
			<property name="id">
				<value>1</value>
			</property>
			<property name="city">
				<value>Delhi</value>
			</property>
			<property name="country">
				<value>India</value>
			</property>
			<property name="pinCode">
				<value>110011</value>
			</property>
		</bean>
	</beans>

</beans>